/**
*
* list.css
* @author - Lameen
* @date - 03/02/2023
**/

.header-menu-list, .footer-menu-list {
    list-style-type: none;    
    padding: 0;
    margin: 0;
    margin-top: 10px;
}
.header-menu-list li, .footer-menu-list li {
    display: inline;
    color: #ffffff;
    padding-right: 25px;
    font-size: 16px;
}
.footer-menu-list li {
    font-size: 14px;
}
.header-menu-list li a, .footer-menu-list li a {
    text-decoration: none;
    color: #ffffffcc;
}
.header-menu-list li a:hover {
    color: #ffffff;
}
.footer-menu-list li a:hover {
    color: #337ab7;
}